# Rust artifacts
/target/

# Generated packages
/dist/
/SleekManualMaker.zip

# Logs and Recordings
/log/
/records/
*.log
*.jsonl
*.txt

# Temporary and backup files
*~
*.bak
*.swp
*.tmp
*.png
temp_screenshot_*.png

# OS specific checks
Thumbs.db
Desktop.ini
.DS_Store

# Editor settings
/.vscode/
.idea/
*.iml

# Custom Scripts
build.bat
